<script id="tmpl-ElementView" type="text/html">
	<div class="ElementView">
        <div class="ElementView-content">
        	<div class="elementType">
        		<ul>
			    	<li data-entity="Text">Text</li>
			        <li data-entity="Image">Image</li>
			        <li data-entity="Data">Data...</li>
			  	</ul>
        	</div>
        	<div class="elementDataType">
        		<ul>
			    	<li data-entity="TextAnswer" class="fontWeightBlod">Text Answer</li>
			        <li data-entity="MultipleChoice">Multiple choice</li>
			        <li data-entity="Checkboxes">Checkboxes</li>
			        <li data-entity="Scale">Scale</li>
			  	</ul>
			  	<div class="dividerLine"></div>
			  	<ul>
			        <li data-entity="NumberEntry" class="fontWeightBlod">Number Entry</li>
			        <li data-entity="Counter">Counter</li>
			        <li data-entity="Timer">Timer</li>
			  	</ul>
			  	<div class="dividerLine"></div>
			  	<ul>
			        <li data-entity="Library">Library...</li>
			        <li data-entity="Custom">Custom...</li>
			  	</ul>
        	</div>
        </div>
	</div>  
</script>