<script id="tmpl-ElementView" type="text/html">
	<div class="ElementView">
        <div class="ElementView-content">
        	<div class="elementType">
        		<ul>
			    	<li data-entity="Text">Text</li>
			        <li data-entity="Image">Image</li>
			        <li data-entity="Data">Data...</li>
			  	</ul>
        	</div>
        </div>
	</div>  
</script>