<script id="tmpl-LineNavMenuView" type="text/html">
	<div class="LineNavMenuView">
        <div class="LineNavMenuView-header heading">
        	<div class="title">
        		<span>Study: {{:name}} </span>
        	</div>
        </div>
        
        <div class="LineNavMenuView-content">
        	<p>     
        		<button class="btn btn-primary btn-block btn-large btnDetail">Details</button>
        	</p> 
        	<p>
        		<button class="btn btn-warning btn-block btn-large btnTask">Tasks</button>
        	</p> 
        	<p>
        		<button class="btn btn-success btn-block btn-large btnTestUser">Users</button>
        	</p> 
        	<p>
        		<button class="btn btn-danger btn-block btn-large btnResult">Results</button>
        	</p> 
        </div>
	</div>  
</script>