<script id="tmpl-MainScreen" type="text/html">
	<div class="MainScreen">
		<header>
          <h2>EchoUser Analytics</h2>
        </header>
		<div class="MainScreen-content">
			
		</div>
	</div>  
</script>