<script id="tmpl-RunUserTaskView" type="text/html">
	<div class="RunUserTaskView">
         <div class="RunUserTaskView-content">  
         
        	<div class="study-title">
        		<span>{{:study.name}}</span>
        	</div>
        	
        	<div class="task-content">
        		{{if hasTask}}
					<div class="questionTitle">{{:task.questionTitle}}</div>
					<div class="info">
						{{if task.questionType == "string"}}
							<div class="btn-group result-content">
	 							<textarea rows="4" name="answer">{{if answer}}{{:answer.result}}{{/if}}</textarea>
	 						</div>
						{{else task.questionType == "true-false"}}
							<div class="btn-group result-content">
	 							<button data-val="true" class="btn {{if answer && answer.result=='true'}}selected{{/if}}">True</button>
	  							<button data-val="false" class="btn {{if answer && answer.result=='false'}}selected{{/if}}">False</button>
	 						</div>
						{{else task.questionType == "rating-5points"}}
	 						<div class="btn-group result-content">
	 							<button data-val="1" class="btn {{if answer && answer.result=='1'}}selected{{/if}}">1</button>
	  							<button data-val="2" class="btn {{if answer && answer.result=='2'}}selected{{/if}}">2</button>
	  							<button data-val="3" class="btn {{if answer && answer.result=='3'}}selected{{/if}}">3</button>
	  							<button data-val="4" class="btn {{if answer && answer.result=='4'}}selected{{/if}}">4</button>
	  							<button data-val="5" class="btn {{if answer && answer.result=='5'}}selected{{/if}}">5</button>
	 						</div>
						{{else task.questionType == "rating-10points"}}
							<div class="btn-group result-content points10">
	 							<button data-val="1" class="btn {{if answer && answer.result=='1'}}selected{{/if}}">1</button>
	  							<button data-val="2" class="btn {{if answer && answer.result=='2'}}selected{{/if}}">2</button>
	  							<button data-val="3" class="btn {{if answer && answer.result=='3'}}selected{{/if}}">3</button>
	  							<button data-val="4" class="btn {{if answer && answer.result=='4'}}selected{{/if}}">4</button>
	  							<button data-val="5" class="btn {{if answer && answer.result=='5'}}selected{{/if}}">5</button>
	  							<button data-val="6" class="btn {{if answer && answer.result=='6'}}selected{{/if}}">6</button>
	  							<button data-val="7" class="btn {{if answer && answer.result=='7'}}selected{{/if}}">7</button>
	  							<button data-val="8" class="btn {{if answer && answer.result=='8'}}selected{{/if}}">8</button>
	  							<button data-val="9" class="btn {{if answer && answer.result=='9'}}selected{{/if}}">9</button>
	  							<button data-val="10" class="btn {{if answer && answer.result=='10'}}selected{{/if}}">10</button>
	  						</div>
						{{/if}}
					</div>
				{{else}}
					<div class="newTask">
						<span class="message">Have not Task yet &nbsp;,&nbsp; Create now </span>
	        			<button class="btn btn-large btn-primary btnCreateTask">Create Task</button>
	        		</div>
				{{/if}}
        	</div>
        </div>
        
        <div class="RunUserTaskView-footer"> 
        	{{if hasTask}}
	        	{{if hasPrevious}}
	        	<button class="btns btnPrevious">Previous</button>
	        	{{/if}}
	        	{{if hasNext}}
	        	<button class="btns btnNext">Next</button>
	        	{{/if}}
	        	{{if hasSubmit}}
	        	<button class="btns btnSubmit">Submit</button>
	        	{{/if}}
        	{{/if}}
        <div>
        
	</div>  
</script>

