<script id="tmpl-RunUserView" type="text/html">
	<div class="RunUserView">
	
        <div class="TestUserView-header heading">
        	<div class="back"><button class="btn btn-inverse btn-mini btnBack">Back</button></div>
        	<div class="title">
        		<span>Users Details</span>
        	</div>
        	<div class="triangleMenu"><i class="icon-eject"></i></div>
        </div>
        
        <div class="RunUserView-content modal-body">		
            <div class="runUser">
        		<button class="btn btn-inverse btn-block btnRunUser">Run User</button>
        	</div>
        	<div class="dashedLine"></div>	
			<div class="form-vertical">
				<div class="control-group">
					<div class="control-label">{{:name}}</div>
				</div>
				<div class="control-group">
					<div class="control-label">{{:label}}</div>
				</div>
				<div class="control-group">
					<div class="control-label">Data:</div>
					<div class="controls collect-data">
						&nbsp;
					</div>
				</div>
			</div>
        </div>
		
	</div>  
</script>