<script id="tmpl-StudyView" type="text/html">
	<div class="StudyView">
		<header>
          <h2>EchoUser Analytics</h2>
        </header>
        
        <section class="heading">
        	<label> 
          		<span class="title"></span>
          	</label>
        </section>
        
        <section class="content">      
        	<div class="createNew">
        		<div class="top">
        			<button class="btn btn-large btn-primary">Create a study now!</button>
        		</div>
        		
        		<div class="bottom">
        			<label>Empower EXPERIENCE</label>
        		</div>
        	</div>
        	<div class="studyList">
        		
        	</div>
        </section>
	</div>  
</script>