<script id="tmpl-StudyCreate" type="text/html">
	<div class="StudyCreate">
        <section class="heading">
        	<div class="back">
        		<button class="btn btn-inverse btn-mini btnBackHome">Back</button>
        	</div>
        	<div class="title">
        		<span>New Study</span>
        	</div>
        </section>
        
        <section class="content">
        	<p>     
        		<button class="btn btn-primary btn-block btn-large btnDetail">Details</button>
        	</p> 
        	<p>
        		<button class="btn btn-warning btn-block btn-large btnTask">Tasks</button>
        	</p> 
        	<p>
        		<button class="btn btn-success btn-block btn-large btnTestUser">Users</button>
        	</p> 
        	<p>
        		<button class="btn btn-danger btn-block btn-large btnResult">Results</button>
        	</p> 
        	<div class="bottom">
        		<label>Empower Experience</label>
        	</div>
        </section>
	</div>  
</script>