<script id="tmpl-StudyCreate" type="text/html">
	<div class="StudyCreate">
        <section class="heading">
        	<button class="btn btn-inverse btn-mini btnBackHome">Back</button>
        	<label> 
          		<span class="title">New Study</span>
          	</label>
        </section>
        
        <section class="content">
        	<p>     
        		<button class="btn btn-primary btn-large btnDetail">Details</button>
        	</p> 
        	<p>
        		<button class="btn btn-primary btn-large btnTask">Tasks</button>
        	</p> 
        	<p>
        		<button class="btn btn-primary btn-large btnTestUser">Users</button>
        	</p> 
        	<p>
        		<button class="btn btn-primary btn-large btnResult">Results</button>
        	</p> 
        	<div class="bottom">
        		<label>Empower Experience</label>
        	</div>
        </section>
	</div>  
</script>