<script id="tmpl-StudyView" type="text/html">
	<div class="StudyView">
        <section class="StudyView-header">
        	{{if haveStudy}}
        	<div class="liveNavMenu"><i class="icon-align-justify"></i></div>
        	<div class="headingLabel">
          		<div class="title">Studies</div>
          	</div>
          	<div class="triangleMenu"><i class="icon-eject"></i></div>
          	{{/if}}
        </section>
        
        <div class="StudyView-content"> 
        	{{if haveStudy}}     
        	<div class="newStudy">
        		<button class="btn btn-inverse btn-block btnStudy">New Study</button>
        	</div>
        	<div class="dashedLine"></div>
        	<div class="studyList">
        		{{for #data tmpl="#tmpl-StudyView-studyList" /}}
        	</div>
        	{{else}}
        	<div class="createNew">
        		<div class="top">
        			<button class="btn btn-primary btn-large btnStudy">Create a study now!</button>
        		</div>
        		
        		<div class="bottom">
        			<label>Empower EXPERIENCE</label>
        		</div>
        	</div>
        	{{/if}}
        </div>
	</div>  
</script>


<script id="tmpl-StudyView-studyList" type="text/html">
	<div class="StudyView-studyList">
     	{{for studies}}
			<div class="studyPart" data-entity="Study" data-entity-id="{{:id}}">
				<div class="name">{{:name}}</div>
				<div class="info">
					<span class="creationDate">{{:creationDate}}</span>
					<span class="tag">{{:tag}}</span>
				</div>
			</div>	
      	{{/for}}
	</div>
</script>