<script id="tmpl-StudyView" type="text/html">
	<div class="StudyView">
        <section class="heading">
        	{{if haveStudy}}
        	<div class="headingLabel">
        		<label> 
          			<span class="title">Studies</span>
          		</label>
          	</div>
          	{{/if}}
        </section>
        
        <section class="content"> 
        	{{if haveStudy}}     
        	<div class="studyList">
        		
        	</div>
        	{{else}}
        	<div class="createNew">
        		<div class="top">
        			<button class="btn btn-primary btn-large btnStudy">Create a study now!</button>
        		</div>
        		
        		<div class="bottom">
        			<label>Empower EXPERIENCE</label>
        		</div>
        	</div>
        	{{/if}}
        </section>
	</div>  
</script>