<script id="tmpl-TaskElementCreate" type="text/html">
	<div class="TaskElementCreate">
        <div class="TaskElementCreate-header heading">
        	<div class="back">
        		<button class="btn btn-inverse btn-mini btnBack">Back</button>
        	</div>
        	<div class="title">
        		<span>Element Details</span>
        	</div>
        </div>
        
        <div class="TaskElementCreate-content">  
        	
        </div>
	</div>  
</script>

