<script id="tmpl-TaskView" type="text/html">
	<div class="TaskView">
        <div class="TaskView-header heading">
        	<div class="title">
        		<span>Tasks</span>
        	</div>
        </div>
        
        <div class="TaskView-content">  
        	<div class="newTask">
        		<button class="btn btn-inverse btn-block btnTask">Add Task</button>
        	</div>
        	<div class="dashedLine"></div>
        	<div class="taskList">
        		
        	</div>
        </div>
	</div>  
</script>
