<script id="tmpl-TaskCreate" type="text/html">
	<div class="TaskCreate">
        <div class="TaskCreate-header heading">
        	<div class="back">
        		<button class="btn btn-inverse btn-mini btnBack">Back</button>
        	</div>
        	<div class="title">
        		<span>Task Details</span>
        	</div>
        </div>
        
        <div class="TaskCreate-content modal-body">  
        	<div class="form-vertical">
				<div class="control-group">
					<div class="control-label">Title:</div>
					<div class="controls">
						<input type='text' name="title" value="{{:title}}" />
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">Name:</div>
					<div class="controls">
						<input type='text' name="name" value="{{:name}}" />
					</div>
				</div>
				<div class="control-group">
					<div class="control-label">Type:</div>
					<div class="controls">
						<select name="type">
  							<option value ="string">Descriptive line of text</option>
						  	<option value ="true-false">True/False</option>
						  	<option value="rating-5points">Rating - 5 points</option>
						  	<option value="rating-10points">Rating - 10 points</option>
						  	<option value="radio" disabled>Radio (Only allow an answer)</option>
						  	<option value="checkbox" disabled>Checkbox (Can be more than one answer)</option>
						</select>
					</div>
				</div>
				<div class="control-group taskInfo">
					<div class="control-label">Info:</div>
					<div class="controls">
						<textarea rows="3" name="info">{{:info}}</textarea>
					</div>
				</div>
			</div>
        </div>
        
        <div class="TaskCreate-footer">
			<div class="btn btn-primary btnCreate">Save</div>
		</div>
	</div>  
</script>
