<script id="tmpl-TestUserView" type="text/html">
	<div class="TestUserView">
        <div class="TestUserView-header heading">
        	<div class="lineNavMenu clickAble"><i class="icon-align-justify"></i></div>
        	<div class="title">
        		<span>Users</span>
        	</div>
        	<div class="triangleMenu"><i class="icon-eject"></i></div>
        </div>
        
        <div class="TestUserView-content">  
        	<div class="newUser">
        		<button class="btn btn-inverse btn-block btnUser">Add User</button>
        	</div>
        	<div class="dashedLine"></div>
        	<div class="userList">
        		{{for #data tmpl="#tmpl-TestUserView-userList" /}}
        	</div>
        </div>
	</div>  
</script>

<script id="tmpl-TestUserView-userList" type="text/html">
	<div class="TestUserView-userList">
     	{{for users}}
			<div class="userPart" data-entity="TestUser" data-entity-id="{{:id}}">
				<div class="user-index"><span>{{:#index+1}}</span></div>
				<div class="user-info">
					<div class="user-name">{{:name}}</div>
					<div class="user-label">{{:label}}</div>
				</div>
				<div class="media-icon"><span class="run-user"><i class="run-user icon-play-circle"></i></span></div>
			</div>	
      	{{/for}}
	</div>
</script>
