.DetailCreate .DetailCreate-content .control-group{
	margin-bottom: 5px;
}

.DetailCreate .DetailCreate-content .control-label{
	font-weight: bold;
}

.DetailCreate .DetailCreate-footer{
	padding-left: 15px;
}