body {
	height: 100%;
	background: #E8E8E8;
	overflow:hidden;
}
#bodyPage {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* --------- heading --------*/
.heading{
  	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 1px solid #000;
}

.heading div{
	height:30px;
	line-height: 30px;
}

.heading div.back{
	float:left;
	text-align:center; 
}

.heading div.title{
	text-align:center; 
	margin:0 50px;
	font-weight: bold;
	font-size: 18px;
}

.heading div.lineNavMenu{
	width:30px;
	float:left;
	text-align:center; 
}

.heading div.triangleMenu{
	width:30px; 
	position:absolute; 
	top:0; 
	right:0;
	text-align:center; 
}
/* --------- /heading --------*/

.dashedLine{
	margin: 5px auto 10px;
	width:200px;
	height:1px;
	border-bottom:1px dashed #666;
}

.notTransparentScreen{
	position:absolute;
	left:0;top:0;bottom:0;right:0;
	background-color:rgba(0,0,0,.4);
	z-index: 3;
}