.StudyView header{
  	position: relative;
  	padding: 0;
  	height: 26px;
  	.background-image(bottom, #1C1C1C, 0%, #1C1C1C, 100%);
}

.StudyView header h2{
  	color: #E0E0E0;
  	letter-spacing: .2em;
  	line-height: normal;
  	font-weight: bold;
  	margin: 0;
  	padding: 5px 0 0 10px;
  	font-size: 14px;
  	text-align: left;
}

.StudyView section.heading{
  	position: relative;
  	margin: 0;
  	height: 28px;
}

.StudyView section.heading label{
  	display: block;
  	margin: 5px 0 5px 40px;
  	font-weight: bold;
}

.StudyView section.content{
  	top: 70px; right: 0px; bottom: 0px; left: 0; 
  	overflow: auto;
}

.StudyView section.content .createNew{
 	text-align: center;
}
.StudyView section.content .createNew .top{
 	margin-top:5px;
}
.StudyView section.content .createNew .bottom{
	margin-top:200px;
 	margin-bottom:20px
}
.StudyView section.content .createNew .bottom label{
	color: #C9901E;
  	letter-spacing: .2em;
	line-height: normal;
	font-weight: bold;
  	padding: 5px 0 0 10px;
  	font-size: 16px;
}

.StudyView section.content .studyList{
	display:none;
	text-align: center;
	border-top: solid 1px #DDD;
}
