.StudyView header{
  position: relative;
  padding: 0;
  height: 28px;
  .background-image(bottom, #1C1C1C, 0%, #1C1C1C, 100%);
}

.StudyView header h2{
  color: #E0E0E0;
  letter-spacing: .2em;
  line-height: normal;
  font-weight: bold;
  margin: 0;
  padding: 7px 0 0 10px;
  font-size: 14px;
  text-align: left;
}

