.StudyView .StudyView-header{
  	position: relative;
  	margin-left: 5px;
	margin-right: 5px;
}

.StudyView .StudyView-header .headingLabel{
	height:30px;
	line-height: 30px;
	text-align:center; 
	border-bottom: 1px solid #000;
}

.StudyView .StudyView-header .title{
	margin:0 50px;
	font-weight: bold;
	font-size: 18px;
}

.StudyView .StudyView-content{
  	margin-top:10px;
  	overflow: auto;
}

.StudyView .StudyView-content .createNew{
 	text-align: center;
}
.StudyView .StudyView-content .createNew .top{
 	margin-top:5px;
}
.StudyView .StudyView-content .createNew .bottom{
	margin-top:200px;
 	margin-bottom:20px
}
.StudyView .StudyView-content .createNew .bottom label{
	color: #C9901E;
  	letter-spacing: .2em;
	line-height: normal;
	font-weight: bold;
  	padding: 5px 0 0 10px;
  	font-size: 16px;
}

.StudyView .StudyView-content .studyList{
	display:none;
	text-align: center;
}
