.StudyCreate section.content{
  	margin-top:40px;
  	overflow: auto;
  	text-align: center;
}

.StudyCreate section.content p{
	max-width: 200px; 
	margin: 0 auto 20px;
}

.StudyCreate section.content .bottom label{
	color: #C9901E;
  	letter-spacing: .2em;
	line-height: normal;
	font-weight: bold;
  	padding: 15px 0 0 10px;
  	font-size: 12px;
}