.StudyCreate section.heading{
  	position: relative;
	margin-left: 5px;
	margin-right: 5px;
	border-bottom: 1px solid #000;
}

.StudyCreate section.heading div{
	height:30px;
	line-height: 30px;
}

.StudyCreate section.heading div.back{
	float:left;
	text-align:center; 
}

.StudyCreate section.heading div.title{
	text-align:center; 
	margin:0 50px;
	font-weight: bold;
	font-size: 18px;
}


.StudyCreate section.content{
  	margin-top:40px;
  	overflow: auto;
  	text-align: center;
}

.StudyCreate section.content p{
	max-width: 200px; 
	margin: 0 auto 20px;
}

.StudyCreate section.content .bottom label{
	color: #C9901E;
  	letter-spacing: .2em;
	line-height: normal;
	font-weight: bold;
  	padding: 15px 0 0 10px;
  	font-size: 12px;
}