.TaskView .TaskView-content{
  	margin-top:5px;
}

.TaskView .TaskView-content .newTask{
	max-width: 260px; 
	margin: 10px auto 10px;
}

.TaskView .TaskView-content .dashedLine{
	margin: 5px auto 10px;
	width:200px;
	height:1px;
	border-bottom:1px dashed #666;
}

